/target
.DS_STORE
**.db
**.dbpart
*.DS_STORE
*._target
**.db.dbpart
*.idea
*.xml
*.iml
/log
*/dist
treatyx/log/*
Test.toml
*.sqlite
*.sh
*.ps1
tracking/target
*.bundle
*.pem
*.key
*.crt
*.csr
*.cer
*.ext
*.srl
*.env